<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>Sentence Folder</title>
    <%- partial('_import') %>
    <script defer src="/javascripts/require-jquery-1.9.1.js"
          data-main="/javascripts/app/index.js"></script>
    <%- partial('index_tmpls/_item_list') %>
    <%- partial('index_tmpls/_modals') %>
    <%- partial('index_tmpls/_edit_form') %>
    <%- partial('index_tmpls/_studying') %>
    <script id="tmpl-studying" type="text/template">
    </script>
  </head>
  <body id="sentence-folder">
    <div id="overall-layer"></div>
    <%%>
    <%- partial('_header', { menu: true}) %>

    <div id="main-content">
      <div id="list-container" class="">
        <div id="list-header"></div>
        <ul id="study-item-list"></ul>
        <div id="study-item-list-loading"><i class="icon-spinner"></i></div>
      </div>

    </div>

    <div id="del-confirm">
      <p class="large-x">削除してよろしいですか？</p>
      <div>
        <ul>
          <li><button class="cancel">キャンセル</button></li>
          <li><button class="del">削除</button></li>
        </ul>
      </div>
    </div>

    <footer>
    </footer>


  </body>

</html>


