    <script id='tmpl-filter-form' type='text/template'>
      <form id="filter-form" method="get" class="medium">
        <div class="filter-row">
          <label>
            <span class="<%=tooltip_class()%>" title="理解度の範囲を指定">理解度</span>
          </label>
          <div class="filter-search-input">
            <div id="range-slider-point"></div>
          </div>
          <label>
            <span class="<%=tooltip_class()%>" title="直近で学習した日時の範囲を指定">最終学習日時</span>
          </label>
          <div class="filter-search-input">
            <div id="range-slider-last-study"></div>
          </div>
        </div>
        <div class="filter-row">
          <label>
            <span class="tags-icon large-xx <%=tooltip_class()%>" title="指定のタグで絞り込む(AND条件)">
              <i class="icon-tags"></i>
            </span>
          </label>
          <div class="filter-search-input">
            <div class="filter-search-tags-wrapper">
              <div id="search-tags"></div>
            </div>
            <span class="large-xxx star-button filter-star-button">
              <i class="icon-star-empty" data-star-idx="0"></i>
            </span>
          </div>
          <label>
            <span class="large-xx <%=tooltip_class()%>" title="テキストで絞り込む">
              <i class="icon-search"></i>
            </span>
          </label>
          <div class="filter-search-input">

            <span>
              <i class="filter-text-search-enter icon-level-down large-x"></i>
            </span>
            <input type="text" name="text-search" id="text-search" class="filter-text-search">
            <select id="text-lang" name="lang">
              <option value="ja">日本語</option>
              <option value="en">英語</option>
              <option value="id">ID</option>
            </select>
          </div>
        </div>
      </form>
    </script>

    <script id='tmpl-list-operate-panel' type='text/template'>
      <div id="list-operate-panel">
        <div class="operate-study-start">
          <button class="show-at-selected">学習開始</button>
        </div>
        <div class="operate-toolbar">
          <ul>
            <li class="large-xx <%=tooltip_class()%> add-new-item"
                title="新規センテンスの追加">
                <i class="icon-plus-sign"></i>
            </li>
            <li class="large-xx <%=tooltip_class()%> check-select-all-switch"
                title="全て選択/解除">
                <i class="icon-check-empty"></i>
            </li>
            <li class="large-xx <%=tooltip_class()%> show-at-selected add-tag" title="タグを追加">
              <i class="icon-tag"></i>
            </li>
            <li class="large-xx tag-trash <%=tooltip_class()%> show-at-selected remove-tag"
                 title="設定しているタグを解除">
              <i class="icon-tag"></i>
              <i class="icon-trash"></i>
            </li>
            <li class="large-xx <%=tooltip_class()%> show-at-selected remove-item"
                  title="センテンスを削除">
              <i class="icon-trash"></i>
            </li>
          </ul>
        </div>
        <div class="operate-number-and-sort">
          <div class="operate-number-of-items large-x">
            <span><span id="fetch-cnt"></span> /</span>
            <span>Total: <span id="total-cnt"></span></span>
          </div>
          <div class="operate-sort">
            <select class="operate-sort-select">
              <option value="-1">-並び替え-</option>
              <option value="-1">作成日時▼</option>
              <option value="1">作成日時▲</option>
              <option value="-2">最終学習日時▼</option>
              <option value="2">最終学習日時▲</option>
            </select>
          </div>
        </div>
      </div>
    </script>

    <script id='tmpl-study-item' type='text/template'>

        <div class="study-item-container point-<@=get('point')@> <@=get('isNew')? 'new-item':''@>"
              data-id="<@=get('_id')@>">
          <div class="study-item-select" data-checked="false">
            <div class="pseudo-check"></div>
          </div>

          <div class="study-item-ribbon"></div>
          <div class="study-item-master">
            <div class="study-item-master-main">

              <div class="study-item-title link large">
                <a><@=get('question')@></a>
              </div>

              <div class="study-item-updated-info small">
                <ul>
                  <li>ID: <@=get('sentence_id')@></li>
                  <li>作成:<span class="time"><@=get('formattedCreatedTime') @></span></li>
                  <li>最終更新:<span class="time"><@=get('formattedUpdatedTime') || get('formattedCreatedTime') @></span></li>
                </ul>
              </div>

              <div class="study-item-edit large-xxx">
                <div class="star-button">
                  <i class="icon-star<@=get('star') ? '':'-empty' @>"
                      data-star-idx="<@=get('star')? get('star') : '0'@>"></i>
                </div>
                  <i class="icon-copy <%=tooltip_class()%>" title="複製する"></i>
                  <i class="icon-trash <%=tooltip_class()%>" title="削除する"></i>
                </p>
              </div>

              <div class="study-item-sub small">
                <div class="study-item-situation">
                  <@if(get('situation')){@>
                  <span class="study-item-situation-text <%=tooltip_class()%>"
                     title="<@=get('situation')@>"><@=get('situation')@></span>
                  <@}@>
                </div>
                <div class="study-item-tags">
                  <span class="tags-icon"><i class="icon-tags"></i></span>
                  <div class="study-item-tags-text">
                    <a  title="タグ: <@=get('formattedTags')@>" class="<%=tooltip_class()%>"><@=get('formattedTags')@></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="study-item-progress">
              <div class="study-item-progress-point">
                <div class="study-item-slider"></div>
                <div>
                  <span class="point"><@=get('point')@></span>
                </div>
              </div>

          </div>
        </div>
    </script>

    <script id="tmpl-studied-times" type="text/template">
      <@var existRecords = get('formattedStudiedTimes').length > 0; @>
      <div class="study-item-studied-times<@=existRecords ? '<%=tooltip_class()%>' :''@>" <@=existRecords ? "title='学習日時(クリックで全て表示)'" : "" @>>
        <ul class="medium" >
          <@get('formattedStudiedTimes').forEach(function(time, i){ @>
            <@if( i < 3 ){@>
          <li class="time"><@=time@></li>
            <@}@>
          <@});@>
        </ul>
        <@if( get('formattedStudiedTimes').length === 0 ){@>
          <span class="medium">未学習</span>
        <@}@>
        <@if( get('formattedStudiedTimes').length > 3 ){@>
        <span>...</span>
        <@}@>
      </div>
    </script>